#quote-box {
  width: 50vw;
  
  margin: 40px auto;
  padding: 20px;
  background-image: url('https://images.unsplash.com/photo-1547533255-f46ee6c34c0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size: cover;

  /* background-color: rgb(228, 238, 238); */
}

.upper{
  height: 50vh;
  font-size: 2rem;
}

.lower {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 10vh;
  
}





